a {
    text-decoration: none;
    color: #f1f1f1;
    text-align: justify;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #111111;
    border-radius: 4px;
    color: #f1f1f1;
}

.icon_img {
    height: 80px;
    width: 80px;
    margin-right: 15px;
}

.page {
    background-image: url('../images/background_img.jpg');
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.shade.active {
    opacity: 1;
    pointer-events: auto;
}

.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    flex-wrap: wrap;
    gap: 8px;
}

.toggleMenu {
    position: fixed;
    height: 80px;
    width: 80px;
    top: 8px;
    left: -6px;
    z-index: 1000;
    transition: all 0.5s ease;
    font-size: 24px;
    padding: 4px;
    background-color: rgba(43, 52, 69, 0.9);
    border: none;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.toggleMenu:hover {
    background-color: rgba(23, 32, 49, 0.9);
}

.arrow {
    display: inline-block;
    transition: transform 0.5s ease;
}

.sideMenu {
    position: fixed;
    top: 8px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-image: url('../images/background_img.jpg');
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.5s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.art_image {
    position: fixed;
    bottom: -1100px;
    left: -800px;
    z-index: 1001;
    transition: 0.5s ease;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.5);
    border-radius: 8px;
    width: 400px;
    height: 600px;
    padding: 8px;
    font-size: 18px;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 3px 10px 2px rgba(160, 125, 212, 1);
}

.description {
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.available_count {
    background-color: rgba(217, 157, 37, 1);
    color: black;
    padding: 4px;
    border-radius: 4px;
}

.empty {
    background-color: rgba(168, 132, 88, 0.4);
}

.button{
    background-color: rgba(160, 125, 212, 0.5);
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
    opacity: 0.8;
    font-size: 24px;
    box-shadow: 0px 3px 10px 2px rgba(160, 125, 212, 1);
    color: white;
}

.button:hover {
    background-color: rgba(160, 125, 212, 0.8);
    cursor: pointer;
}

.button:disabled {
    opacity: 0.4;
    background-color: rgba(160, 125, 212, 0.5);
}

.basket_link{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.basket-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(217, 157, 37, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.basket_image{
    width: 150px;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.basket_image:hover {
    opacity: 1;
}

.basket_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
    margin-top: 80px;
    color: white;
}

.basket_table {
    background-color: rgba(17, 17, 17, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 20px;
}

.order_modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 280px;
    background-color: rgba(50, 51, 69, 1);
    border-radius: 4px;
    z-index: 1000;
    padding: 12px;
    font-size: 20px;
    color: white;
}

.order_form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.order_button {
    max-width: 120px;
    margin-bottom: 15px;
}

.close_button {
    max-width: 40px;
    margin-bottom: 15px;
    font-size: 30px;
}

.success_modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 180px;
    background-color: rgba(50, 51, 69, 1);
    border-radius: 4px;
    z-index: 1000;
    padding: 12px;
    font-size: 24px;
    color: white;
}

.card_show {
    color: #f1f1f1;
    text-align: justify;
    width: 70%;
    margin: auto;
}

.history_link {
    text-decoration: underline rgba(217, 157, 37, 1) 2px;
    text-underline-offset: 5px;
}

.button_container {
    display: flex;
    gap: 30px;
}